# Abaikan folder vendor dari composer dan node_modules
/vendor/
node_modules/

# Abaikan file konfigurasi database (Sangat Penting!)
/config/database.php

# Abaikan folder upload/gambar jika tidak ingin di-upload
/assets/img/ttd/

# Abaikan file sistem
.DS_Store
Thumbs.db